p {
    color: white;
}

.messageLabel{
    color: white;
}

h5{
    color: white;
}

.messageBox {
    width:300px;
    margin: 0 auto 0 auto;
    border:black 4px solid; 
    background:#674d72;
    height:400px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    font-family: 'Cinzel Decorative', cursive !important;
    /* margin-left:20%;
    margin-right:10%;
    margin-top: 10%; */
    font-size: 1em;
}

.messageInput {
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:93%;
    font-size:1em;
    margin-top: 2%;
}

.messageBtn {
        align-content: center;
        background:black;
        width:100%;
        padding:2px;
        /* padding-top:5px;
        padding-bottom:5px; */
        margin-top: 2%;
        color:white;
        border-radius:4px;
        border: black 1px solid;
        font-family: 'Cinzel Decorative', cursive !important;
}

.messageLabel {
    background: black;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    padding-left: 2px;
    color: #fff;
    margin-left: 14%;
    align-content: center;
    font-family: 'Cinzel Decorative', cursive !important;
}
p {
    text-align: center;
}
label {
    align-content: center;
}
.mainMessageContainer {
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
}


  .messageEntry {
    border: 1px solid black;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.3;
    position: relative;
  }

.speech-bubble-ds {
    background: black;
    border: 1px solid black;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}
/* .speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    bottom: 1px;
    content: "";
    position: absolute;
    right: 5px;
}
.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    bottom: 1px;
    content: "";
    position: absolute;
    right: 6px;
} */
