.taskContainer {
  background-color: #000;
  border: outset 10px #674072;
  margin: 2em;
}

h1 {
  color: #000;
}

.sectionTitle {
  margin: 1em;
}

.taskHeader {
  color: #674072;
  background-color: #000;
  width: 10%;
}
