
.newsHeader {
    background-color: black;
    color: white;
    font-family: 'Cinzel Decorative', cursive !important;
    justify-content: center;
    background: black;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    padding-left: 1%
}
.articleContainer {
    text-align: left;
    font-family: 'Cinzel Decorative', cursive !important;
    padding-left: 1%;
    margin-left:1%

}

.newsSection {
    display: flex !important;
    flex-direction: column;
}

.newsContainer {
    margin-right: 20%;
    margin-left: 19%;
    justify-content: center;
}
.sectionTitle {
    align-content: left;
}