h2 {
  font-family: "Rubik", sans-serif;
}
.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}

#parallax1,
#parallax3 {
  background-color: #ff965a;
}

#parallax1 p {
  color: #fff;
}

#box2 blue {
  font-family: "Rubik", sans-serif;
}
