h3 {
  font-size: 3.4rem;
}

h5 {
  font-size: 2.4rem;
}

#login {
  margin-left: 40%;
}

#wrapper1 {
  display: flex;
  flex-direction: row;
  background-color: #ff965a;
  background-image: url("../images/sunglassesArray.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5%;
  height: 100vh;
}
#col1 {
  width: 25%;
}

#col2 {
  width: 50%;
}

#wordsSlogan {
  justify-content: center;
  text-align: center;
  background-color: rgba(241, 236, 236, 0.5);
  border-radius: 3%;
}

#welcome {
  color: #000;
  font-size: 13.4rem;
  margin: 0;
}

#to {
  color: #fff;
  font-size: 5rem;
  margin: -5%;
}

#try {
  color: #000;
  font-size: 13.4rem;
  margin: -40px;
}

#buy {
  font-size: 13.4rem;
  color: #000;
  margin: 0;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#mainPic {
  padding-top: 25%;
}

#here {
  background-color: rgba(241, 236, 236, 0.5);
  margin-bottom: 5%;
}

#slogan {
  padding-top: 10%;
}

#galPic {
  padding-top: 5%;
}

#col3 {
  width: 25%;
}

.active {
  color: #fff;
  font-weight: 900;
}

#wrapper2 {
  margin-top: 5%;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/sideChick.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 1024px;
}

#wrapper2pic {
  margin: 1%;
  background-color: rgba(241, 236, 236, 0.9);
  padding: 1%;
  border-radius: 5%;
}

#wrapper3 {
  background-color: #ff965a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #ff965a;
}

#headshapes {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

#wrapper3content {
  display: flex;
  flex-direction: column;
}

#selectHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

#wrapper4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#shadeSelection {
  display: flex;
  flex-direction: column;
}

#shadeSlogan {
  display: flex;
  align-items: center;
  justify-content: center;
}
#shadeSelection {
}

#shadeColFlex {
  display: flex;
  flex-direction: row;
}

#selectBrand {
  background-color: #ff965a;
  display: flex;
  align-items: center;
  justify-content: center;
}

#innerMenu {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

#menuListDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainFooterHome {
}

#wrapper7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
