#wrapper {
  display: flex;
  flex-direction: row;
  background-color: #ff965a;
}
#col1 {
  width: 25%;
  margin: 10px 1%;
}

#col2 {
  width: 50%;
  margin: 75px 1%;
}

#icons {
  margin: 10%;
  display: flex;
  flex-direction: row;
}

#mainPic {
  margin: 33% auto;
}

#col3 {
  width: 25%;
  margin: 10px 1%;
}

.active {
  color: #fff;
  font-weight: 900;
}
