small {
  font-size: 75%;
}

header {
  background-color: black;
}

.site-title {
  color: white;
  text-align: center;
}

nav .container {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

nav .container li {
  flex: 1;
  padding: ;
  text-align: center;
  font-size: 1.5em;
  color: white;
  box-sizing: border-box;
  background-color: #3b684d;
  list-style-type: none;
}

nav .container a {
  color: white;
}

nav .container a:hover {
  color: #1b2d5b;
}

nav span {
  cursor: pointer;
  text-decoration: underline;
}
nav span:hover {
  color: #1b2d5b;
}

#headerimage {
  background-image: url("/src/images/witchheader.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
