small {
    font-size: 75%;
  }

  header {
    background-color:black;
    padding-top: 1%;
  }

  .site-title {
    color: white;
    text-align: center;
  }

  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }

  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    box-sizing: border-box;
    background-color: #3B684D;
    list-style-type: none;
  }

  nav .container a {
    color: white;
  }

  nav .container a:hover {
    color: maroon;
  }

  nav span {
    cursor: pointer;
    text-decoration: underline;
 }
 nav span:hover {
  color: maroon;
 }