body {
  margin: 0;
  font-family: 'Cinzel', serif;
  background-color: #644C6F;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


