body {
  margin: 0;
  font-family: "Cinzel", serif;
  background-color: #644c6f;
}
h1 {
  font-family: "Cinzel Decorative", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("/images/1.jpg");
}
